.leaflet-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* SidebarComponent */

.toggleBtn {
    display: none !important;
}

.sidebarContainer_custom {
    background-color: #363740;
    width: 100%;
    padding: 7px;
}

.sidebarContainer_custom {
    padding-left: 4px !important;
    padding-right: 4px !important;
    border-radius: 5px;
    margin: auto;
}

.toggleBtn {
    display: inline !important;
}

.menu_custom {
    display: none !important;
}

.sidebarActive {
    top: 0;
    left: 0;
    /* width: 300px; */
    overflow-x: auto;
    position: fixed;
}

.mainBlockPushRight {
}
